* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.feed {
    border: 2px solid rgb(255, 0, 0);
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* Cada notícia é um container Flex */
.noticia {
    border-bottom: 2px solid #ddd;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    padding: 20px 0;
    gap: 30px;
}

/* Slot da Imagem (Esquerda) */
.imagem-slot {
    border: 2px solid rgb(255, 0, 0);
    flex: 1;
}

.imagem-slot img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.texto-slot {
    border: 2px solid rgb(255, 0, 0);
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.categoria {
    font-weight: bold;
    text-transform: lowercase;
    color: #333;
}

h2 {
    color: #06aa48;
    font-size: 1.6rem;
    line-height: 1.2;
}

p {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.4;
}

.tempo {
    color: #999;
    font-size: 0.8rem;
}